body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Font chiaro e leggibile */
	background-image: url('images/me_graduationDay_bachelor_better.jpg');
    background: #f4f4f9 ; /* Colore di sfondo chiaro */
    color: #333; /* Colore del testo */
    display: flex;
    height: 100vh;
}


/* Impostazioni per l'intestazione */
header {
    text-align: center; /* Centra il testo */
	margin: 50px; /*Spazio sopra e sotto*/
}


/* Stile per i link nella sezione class="links" */
.links a {
    display: inline-block; /* Mostra i link su una linea */
    margin: 15px; /* Spazio tra i link */
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #3498db; /* Colore blu per i link */
    font-size: 20px; /* Dimensione del testo */
}

/* Aggiungi un effetto hover (passaggio sopra il link) */
.links a:hover {
    color: #1abc9c; /* Colore verde chiaro al passaggio */
}


#sidebar {
    background: #222;
    color: #fff;
    width: 20%;
    padding: 2rem;
    box-sizing: border-box;
}

#sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
	color: #1abc9c; /* scuro titolo */
}

#sidebar img {
    width: 50%; /* Resize the image to fit the container's width */
    height: auto; /* Maintain aspect ratio */
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
}

#sidebar nav ul li {
    margin: 1rem 0;
}

#sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

#content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

#content section {
    margin-bottom: 2rem;
}

#content section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
