* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Font chiaro e leggibile */
	/*background-image: url('images/me_graduationDay_bachelor_better.jpg');*/
    background: #fdfdfd ; /* Colore di sfondo chiaro */
    color: #333; /* Colore del testo */
}

/* Impostazioni per l'intestazione */
header {
	background-color: #1abc9c;
	padding: 1rem 2rem;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.logo h2{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo h5{
  color: blue;
  font-size: 1rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: italic;
}

.nav-links a:hover {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
}

.main-content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

/*main content style*/
section {
    margin-bottom: 4rem; /*distanza tra ogni titolo di ogni sezione*/
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem; 
	font-family: 'Times New Roman', sans-serif;
	color: orange;
}

section h3 {
    font-size: 1rem;
    margin-bottom: 1rem; 
}

section h4 {
    font-size: 1rem;
    margin-bottom: 1rem; 
}

/* Stile per le icone nel sito (icone prese dal pacchetto font-awesome)" */
.fa-rocket {
    color: #ff4500;
    font-size: 18px;
}

.fa-robot {
    color: #DC143C;
    font-size: 18px;
}

.fa-envelope {
    color: #FF00FF;
    font-size: 18px;
}
